<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title></title>
</head>
<body>
    <h1>Funko Pops</h1>
    <div class='container'>
        <ul>
            <% data.forEach(figure => { %>
                <li>
                    <h3><%= figure.name %></h3>
                    <p>Price: $<%= figure.price %></p>         
                    <img class="figureImg" src='<%= figure.imageurl %>' alt="<%= figure.name %>">
                </li>
            <% }); %>
        </ul>
    </div>  
</body>
</html>